In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0

In [4]:
df.shape

(26570, 26)

In [5]:
df.describe()

,id,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,26570.000000,26320.000000,26570.000000,26570.000000,26570.000000,26570.000000,26570.000000,26189.000000,26032.000000,25894.000000,...,25343.000000,25270.000000,25102.000000,24969.000000,24796.000000,24696.000000,24561.000000,24460.000000,24286.000000,26570.000000
mean,13284.500000,127.826233,6.754046,7.240459,7.415883,8.232518,6.256568,17.791528,11.731988,17.127804,...,11.430725,16.117711,19.172085,11.702464,15.652904,16.048444,14.995554,16.460727,701.269059,0.212608
std,7670.242662,39.030020,1.471852,1.456493,4.116690,4.199401,3.309109,1.001200,0.996085,0.996414,...,0.999137,1.405978,1.520785,1.488838,1.155247,1.491923,1.549226,1.708935,123.304161,0.409160
min,0.000000,33.160000,5.000000,5.000000,0.000000,0.000000,0.000000,13.968000,8.008000,12.073000,...,7.537000,9.323000,12.461000,5.167000,10.890000,9.140000,9.104000,9.701000,196.787000,0.000000
25%,6642.250000,99.987500,6.000000,6.000000,4.000000,5.000000,4.000000,17.117000,11.051000,16.443000,...,10.757000,15.209000,18.170000,10.703000,14.890000,15.057000,13.957000,15.268000,618.961500,0.000000
50%,13284.500000,122.390000,6.000000,8.000000,7.000000,8.000000,6.000000,17.787000,11.733000,17.132000,...,11.430000,16.127000,19.211500,11.717000,15.628500,16.040000,14.969000,16.436000,701.024500,0.000000
75%,19926.750000,149.152500,8.000000,8.000000,10.000000,11.000000,8.000000,18.469000,12.410000,17.805000,...,12.102000,17.025000,20.207000,12.709000,16.374000,17.082000,16.018000,17.628000,784.090250,0.000000
max,26569.000000,385.860000,9.000000,9.000000,29.000000,29.000000,24.000000,21.499000,16.484000,21.425000,...,15.412000,22.479000,25.640000,17.663000,22.713000,22.303000,21.626000,24.094000,1312.794000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26570 entries, 0 to 26569
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              26570 non-null  int64
 1   product_code    26570 non-null  object
 2   loading         26320 non-null  float64
 3   attribute_0     26570 non-null  object
 4   attribute_1     26570 non-null  object
 5   attribute_2     26570 non-null  int64
 6   attribute_3     26570 non-null  int64
 7   measurement_0   26570 non-null  int64
 8   measurement_1   26570 non-null  int64
 9   measurement_2   26570 non-null  int64
 10  measurement_3   26189 non-null  float64
 11  measurement_4   26032 non-null  float64
 12  measurement_5   25894 non-null  float64
 13  measurement_6   25774 non-null  float64
 14  measurement_7   25633 non-null  float64
 15  measurement_8   25522 non-null  float64
 16  measurement_9   25343 non-null  float64
 17  measurement_10  25270 non-null  float64
 18  measurement_11  25102 non-null  float64
 19  measurement_12  24969 non-null  float64
 20  measurement_13  24796 non-null  float64
 21  measurement_14  24696 non-null  float64
 22  measurement_15  24561 non-null  float64
 23  measurement_16  24460 non-null  float64
 24  measurement_17  24286 non-null  float64
 25  failure         26570 non-null  int64
dtypes: float64(16), int64(7), object(3)
memory usage: 5.3+ MB

In [7]:
df = df.drop("id",axis =1)

In [8]:
cols = ["product_code","attribute_0","attribute_1"]
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in cols:
    df[col] = le.fit_transform(df[col])

In [9]:
df["measurement_3"].mean()

17.791527511550587

In [10]:
df["measurement_3"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
26565    False
26566    False
26567    False
26568    False
26569    False
Name: measurement_3, Length: 26570, dtype: bool

In [11]:
df["measurement_3"] = df["measurement_3"].fillna(df["measurement_3"].mean())

In [12]:
cols_to_scale = ["loading","measurement_4","measurement_5","measurement_6","measurement_7","measurement_8","measurement_9","measurement_10","measurement_11","measurement_12","measurement_13","measurement_14","measurement_15","measurement_16","measurement_17"]
for col in cols_to_scale :
    mean = df[col].mean()
    df[col] = df[col].fillna(mean)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26570 entries, 0 to 26569
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_code    26570 non-null  int32
 1   loading         26570 non-null  float64
 2   attribute_0     26570 non-null  int32
 3   attribute_1     26570 non-null  int32
 4   attribute_2     26570 non-null  int64
 5   attribute_3     26570 non-null  int64
 6   measurement_0   26570 non-null  int64
 7   measurement_1   26570 non-null  int64
 8   measurement_2   26570 non-null  int64
 9   measurement_3   26570 non-null  float64
 10  measurement_4   26570 non-null  float64
 11  measurement_5   26570 non-null  float64
 12  measurement_6   26570 non-null  float64
 13  measurement_7   26570 non-null  float64
 14  measurement_8   26570 non-null  float64
 15  measurement_9   26570 non-null  float64
 16  measurement_10  26570 non-null  float64
 17  measurement_11  26570 non-null  float64
 18  measurement_12  26570 non-null  float64
 19  measurement_13  26570 non-null  float64
 20  measurement_14  26570 non-null  float64
 21  measurement_15  26570 non-null  float64
 22  measurement_16  26570 non-null  float64
 23  measurement_17  26570 non-null  float64
 24  failure         26570 non-null  int64
dtypes: float64(16), int32(3), int64(6)
memory usage: 4.8 MB

In [14]:
X = df.drop("failure",axis = 1)
y = df["failure"]

In [15]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state = 10)

In [16]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()

In [17]:
lr_model.fit(X,y)

C:\Users\nikhi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
test_df = pd.read_csv("test.csv")
test_ids = test_df["id"]

In [19]:
test_df.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,26570,F,119.57,material_5,material_6,6,4,6,9,6,...,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
1,26571,F,113.51,material_5,material_6,6,4,11,8,0,...,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
2,26572,F,112.16,material_5,material_6,6,4,8,12,4,...,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
3,26573,F,112.72,material_5,material_6,6,4,8,11,10,...,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
4,26574,F,208.00,material_5,material_6,6,4,14,16,8,...,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044

In [20]:
test_df = test_df.drop("id", axis = 1)
test_df.head()

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,F,119.57,material_5,material_6,6,4,6,9,6,19.305,...,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
1,F,113.51,material_5,material_6,6,4,11,8,0,17.883,...,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
2,F,112.16,material_5,material_6,6,4,8,12,4,18.475,...,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
3,F,112.72,material_5,material_6,6,4,8,11,10,16.518,...,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
4,F,208.00,material_5,material_6,6,4,14,16,8,17.808,...,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044

In [21]:
cols = ["product_code","attribute_0","attribute_1"]
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in cols:
    test_df[col] = le.fit_transform(test_df[col])

In [22]:
cols_to_scale = ["loading","measurement_3","measurement_4","measurement_4","measurement_5","measurement_6","measurement_7","measurement_8","measurement_9","measurement_10","measurement_11","measurement_12","measurement_13","measurement_14","measurement_15","measurement_16","measurement_17"]
for col in cols_to_scale :
    mean = test_df[col].mean()
    test_df[col] = test_df[col].fillna(mean)

In [23]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20775 entries, 0 to 20774
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_code    20775 non-null  int32
 1   loading         20775 non-null  float64
 2   attribute_0     20775 non-null  int32
 3   attribute_1     20775 non-null  int32
 4   attribute_2     20775 non-null  int64
 5   attribute_3     20775 non-null  int64
 6   measurement_0   20775 non-null  int64
 7   measurement_1   20775 non-null  int64
 8   measurement_2   20775 non-null  int64
 9   measurement_3   20775 non-null  float64
 10  measurement_4   20775 non-null  float64
 11  measurement_5   20775 non-null  float64
 12  measurement_6   20775 non-null  float64
 13  measurement_7   20775 non-null  float64
 14  measurement_8   20775 non-null  float64
 15  measurement_9   20775 non-null  float64
 16  measurement_10  20775 non-null  float64
 17  measurement_11  20775 non-null  float64
 18  measurement_12  20775 non-null  float64
 19  measurement_13  20775 non-null  float64
 20  measurement_14  20775 non-null  float64
 21  measurement_15  20775 non-null  float64
 22  measurement_16  20775 non-null  float64
 23  measurement_17  20775 non-null  float64
dtypes: float64(16), int32(3), int64(5)
memory usage: 3.6 MB

In [25]:
Submission_prediction = lr_model.predict(test_df)

In [26]:
df = pd.DataFrame({"id" : test_ids.values,
                  "failure": Submission_prediction,})

In [27]:
df.to_csv("submission.csv", index = False)